body {
  margin: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea {
  width: 80%;
  display: block;
  margin: auto auto;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #008081;
  padding: 1%;
}

button {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #008081;
  box-shadow: none;
  outline: none;
  width: 50vw;
  display: block;
  margin: auto auto;
  font-size: 1.5rem;
  height: auto;
  padding: 1%;
  margin-top: 2%;
}

.buttonStyles {
  width: 50%;
  margin-bottom: 2%;
}